<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width-device-width, initial-scale-1.0" />
    <title>TouristNest</title>
    <link rel="stylesheet" th:href="@{/css/homepage.css}" />
  </head>
  <body>
    <h2 class="logo">TouristNest</h2>
    <div class="header">
      <nav>
        <ul class="nav-links">
          <li><a href="http://localhost:8080/homepage">HOME</a></li>
          <li><a href="#features">FEATURES</a></li>
          <li><a href="#">COUNTRY</a></li>
          <li><a href="#">CITY</a></li>
          <li><a href="#">FOOD & DRINKS</a></li>
          <!-- Modified this line -->
          <li><a href="#">FLIGHT</a></li>
          <li><a href="#">ACCOMMODATION</a></li>
          <li><a href="#">ABOUT</a></li>
        </ul>
        <a href="#" class="reg-button">Register Now</a>
      </nav>

      <div>
        <h2 class="text1">DISCOVERING</h2>
        <h2 class="text2">THE WORLD</h2>
        <h4 class="text3">
          Tour and travel are more than just vacations;are experiences
          <br />that open up a world of possibilities. Exploring new
          destinations,<br />
          cultures, and traditions broadens our outlook and provides<br />
          unforgettable memories. Travel is a bridge that connects us to<br />
          the rich tapestry of our planet,offering encounters with diverse<br />
          people and breathtaking landscapes . . . . . . . . . . .
        </h4>
      </div>
    </div>

    <div>
      <h2 class="features-title">Features</h2>
      <ul class="image-features">
        <li>
          <a href="http://localhost:8080/berlin"><img src="image/berlin.jpg" />
            <span><h2>Berlin</h2></span>
          </a>
        </li>
        <li>
          <a href="#"><img src="image/munich.jpg" />
            <span>
              <h2>Munich</h2>
            </span>
          </a>
        </li>
        <li>
          <a href="#"><img src="image/amsterdam.jpg" />
            <span>
              <h2>Amsterdam</h2>
            </span>
          </a>
        </li>
        <li>
          <a href="#"><img src="image/venice.jpg"/>
            <span>
              <h2>Venice</h2>
            </span>
          </a>
        </li>
        <li>
          <a href="#"><img src="image/zurich.jpg"/>
            <span>
              <h2>Zurich</h2>
            </span>
          </a>
        </li>
        <li>
          <a href="#"><img src="image/oslo.jpg"/>
            <span>
              <h2>Oslo</h2>
            </span>
          </a>
        </li>
        <li>
          <a href="#"><img src="image/lisbon.jpg"/>
            <span>
              <h2>Lisbon</h2>
            </span>
          </a>
        </li>
        <li>
          <a href="#"><img src="image/helsinki.jpg" />
            <span>
              <h2>Helsinki</h2>
            </span>
          </a>
        </li>
        <li>
          <a href="#"><img src="image/toronto.jpg"/>
            <span>
              <h2>Toronto</h2>
            </span>
          </a>
        </li>
        <li>
          <a href="http://localhost:8080/test"><img src="image/newyork.jpg"/>
            <span>
              <h2>New York</h2>
            </span>
          </a>
        </li>
        <li>
          <a href="http://localhost:8080/test"><img src="image/paris.jpg"/>
            <span>
              <h2>Paris</h2>
            </span>
          </a>
        </li>
        <li>
          <a href="http://localhost:8080/test"><img src="image/melbourn.jpg"/>
            <span>
              <h2>Melbourne</h2>
            </span>
          </a>
        </li>
        <!-- Add more images as needed -->
      </ul>
    </div>
  </body>
</html>
