<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>TouristNest</title>
    <link rel="stylesheet" th:href="@{/css/SignUp.css}" />
    <script src="https://kit.fontawesome.com/e06ed31c2b.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="bg-color">
    <div class="nav-color">
        <h2 class="logo">TouristNest</h2>
        <div class="header">
            <nav>
                <ul class="nav-links">
                    <li><a href="http://localhost:8080/homepage">HOME</a></li>
                    <li><a href="#">COUNTRY</a></li>
                    <li><a href="#">CITY</a></li>
                    <li><a href="#">FOOD & DRINKS</a></li>
                    <li><a href="#">FLIGHT</a></li>
                    <li><a href="#">ACCOMMODATION</a></li>
                    <li><a href="#">ABOUT</a></li>
                </ul>
            </nav>
        </div>
    </div>
        <div class="center" >
            <h2 class="signin-title">Sign Up</h2>
            <div class="success-message" th:if="${successMessage}" id="successMessage">
                <p th:text="${successMessage}"></p>
            </div>
            <form th:action="signup" method="POST" name="Formfill" id="Formfill" onsubmit="return validateForm()">
                <div class="text-field" >
                    <input required type="text" placeholder="Name" name="name" id="name" >
                    <span ></span>
                    <label>Name</label>
                </div>
                <div class="text-field">
                    <input required  type="email" placeholder="someone@gmail.com" id="email" name="email" oninput="checkEmailAvailability()">
                    <label>Email</label>
                    <span></span>
                </div>
                <div class="text-field">
                    <input required type="number" placeholder="01632*****2" name="number">
                    <label>Number</label>
                    <span></span>
                </div>
                <div class="text-field">
                    <input required type="password" placeholder="Pass@23$" name="password" id="password">
                    <label>Password</label>
                    <span></span>
                </div>
                <div class="text-field">
                    <input required type="password" placeholder="Pass@23$" name="confirm_password" id="confirm_password">
                    <label>Confirm Password</label>
                    <span></span>
                </div>
                <p id="error-message"></p>
                <div class="button">
                    <input class="btn" type="submit" value="Submit" id="submitButton">
                </div>
                <div class="signup-link">
                    Already have an account? <a href="http://localhost:8080/signin">Sign In</a>
                </div>
            </form>
            <h3 th:text="${name}"></h3>
        </div>
</div>
<div class="help-container"></div>
<script>
{% comment %} function validateForm(){
        var password = document.getElementById("password").value;
        var confirm_password = document.getElementById("confirm_password").value;
        //var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&!])[A-Za-z\d@#$%^&!]{6,}$/;
        var hasUppercase = /[A-Z]/.test(password);
        var hasLowercase = /[a-z]/.test(password);
        var hasDigit = /\d/.test(password);
        var hasSpecialChar = /[@#$%^&+=]/.test(password); 

        if(password == confirm_password){
            if((hasUppercase || hasSpecialChar)){
                if(hasUppercase){
                    if(hasSpecialChar){
                        return true;
                    }else{
                        document.getElementById("error-message").innerHTML = "Password must contain 1 Symbol!";
                        return false;
                    }
                }else{
                    document.getElementById("error-message").innerHTML = "Password must contain 1[A-Z]!";
                    return false;
                }
            }else{
                document.getElementById("error-message").innerHTML = "Passwords must contain 1[A-Z] & 1 Symbol!";
                return false;

            }
        }else{
            document.getElementById("error-message").innerHTML = "Passwords don't match!";
            return false;
        }
    }  {% endcomment %}
    function validateForm(){}

    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
    history.pushState(null, null, document.URL);
  });

    </script>
    

</body>
</html>
