*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

/*handle the screen when xoom in and out*/
@media screen and (max-width: 768px) {
  body {
      font-size: 14px;
  }

  .nav-links li {
      display: block;
      margin: 10px 0;
  }
  .center{
    display: block;
    margin: 10px 0;
  }
}
.bg-color{
  background-color: white;
  height: 100vh;
}
.nav-color{
  background-color: rgb(6, 6, 121);
  height: 10vh;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 30%;
}
.logo{
  color: darkorange;
  font-size: 30px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 15px;
}
.nav-links li{
  list-style: none;
  display: flex;
  float: left;
  justify-content: right;
  align-items: center;
  margin-right: 10px;
  padding: 5px;

}
.nav-links li a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
.nav-links li a:hover{
  color: darkorange;
}

.otp-box{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 800px;
  height: 550px;
  background: rgb(218, 215, 215);
  border-radius: 10px;
  box-sizing: border-box;
  display: block;
}
.otp-box h2{
  margin-top: 5%;
  color: darkblue;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;
  border-bottom: 3px solid gray;
}
.text{
  margin-top: 1%;
  color: red;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 50px;
  font-size: 20px;
  font-weight: bold;

}

.otp-box form{
 padding-left: 30%;
 padding-right: 30%;
 box-sizing: border-box;
}
form .text-field{
  position: relative;
  border-bottom: 2px solid gray;
  margin: 30px 0;
  
}
.text-field input{
  width: 50%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  font-weight:500;
  font-family: sans-serif;
  position: relative;
  font-weight: bold;
  
}
input[type="submit"]{
  width: 105%;
  height: 50px;
  border: 1px solid;
  background: darkblue;
  border-radius: 25px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  color: darkorange;
  transition: .5s;
}
.success-message{
  background-color: #4CAF50; 
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
}